@import url('https://fonts.googleapis.com/css?family=Russo+One');

body{
    font-family: 'Russo One', sans-serif;
}
#area{
    width: 356px;
    height:114px;
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
}
#a1,
#a2,
#a3,
#a4 {
    position: absolute;
    width:90px;
    height: 90px;
    -moz-border-radius: 50%;
    -webkit-border-radius:50%;
    border-radius: 50%;
    background: transparent;
    border: 12px solid black;
    z-index: 1;
}
#a1:before,
#a2:before,
#a3:before,
#a4:before {
    content: " ";
    position: absolute;
    z-index: -1;
    top:-7px;
    left:-7px;
    right:-7px;
    bottom: -7px;
    border:2px soild #080808;
    border-radius: 50%;
}
#a1:after,
#a2:after,
#a3:after,
#a4:after {
    content: " ";
    position: absolute;
    z-index: -1;
    top:-6px;
    left:-6px;
    right:-6px;
    bottom: -6px;
    border:1px solid #7c7c7c;
    border-radius: 50%;;
}
#a2{
    left:80px;
}
#a3{
    left: 160px;
}
#a4{
    left:240px;
}
#audi{
    color: red;
    font-size: 50px;
    line-height: 40px;
    display: block;
    margin-top: 114px;
}
#audi:after{
    border-top: 4px solid red;
    display: block;
    position: relative;
    top:-22px;
    left:59px;
    margin:0 auto;
    width:228px;
    content: " ";
}
